<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Autocollimator || Page not found</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <h1>Page not found</h1>
  <p>Sorry, it seems you were trying to access a page that doesn't exist.</p>
  <p>You can either visit
    <a href="{{ url_root }}crosshair">/crosshair</a> or
    <a href="{{ url_root }}initialize">/initialize</a> or
    <a href="{{ url_root }}shutdown">/shutdown</a>
  </p>
</body>
</html>